# Sanal ortam
venv/

# Kullanıcı verileri
.env
raporlar/
otomasyon_log.txt
kesfet_raporu.txt

# PyInstaller çıktıları
build/
dist/

# Python
__pycache__/
*.pyc

# SQLite veritabani
*.db

# Geçici dosyalar
Kesfet_Baslat.bat
luca_kesfet.py
