# Gizli bilgiler
.env

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt

# Çıktılar
raporlar/
otomasyon_log.txt

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store
